@model IEnumerable<RiderQc.Web.Entities.User>

@{
    ViewBag.Title = "UserManagement";
}

<h2>User Management</h2>

<p>
    @Html.ActionLink("Create New User", "CreateNewUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DpUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DpUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "edituser", new { id=item.UserID }) |
            @Html.ActionLink("Detail", "DetailUser", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.Username })
        </td>
    </tr>
}

</table>
