@model RiderQc.Web.ViewModels.Trajet.TrajetViewModel

@{
    ViewBag.Title = "DeleteTrajet";
}

<h2>DeleteTrajet</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt> Commented in case Potato wants to change stuff, only making it not crash on runtime - Benjamin Lam
        @Html.DisplayNameFor(model => model.GoogleCo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GoogleCo)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <button class="btn-info btn" onclick="location.href='@Url.Action("list", new { controller = "admin/trajet" })'">Back to List</button>
        </div>
    }
</div>
