@model RiderQc.Web.ViewModels.Trajet.TrajetViewModel

@{
    ViewBag.Title = "DetailTrajet";
}

<h2>DetailTrajet</h2>

<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Commented in case Potato wants to change stuff, only making it not crash on runtime - Benjamin Lam -->
        @*<dt>
            @Html.DisplayNameFor(model => model.GoogleCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleCo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorId)
        </dd>

    </dl>
</div>
<p>
    <button class="btn-primary btn" onclick="location.href='@Url.Action("edit", new { controller = "admin/trajet", id = Model.TrajetId })'">Edit</button>
    <button class="btn-info btn" onclick="location.href='@Url.Action("list", new { controller = "admin/trajet" })'">Back to List</button>
</p>
