@model IEnumerable<RiderQc.Web.ViewModels.Trajet.TrajetViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "create", new { controller = "admin/trajet" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creator)

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h5>Creator name:</h5>
            @Html.DisplayFor(modelItem => item.Creator)
            <h5>Trajet title:</h5>
            @Html.DisplayFor(modelItem => item.Title)
            <h5>GpsPoints:</h5>
            @Html.DisplayFor(modelItem => item.GpsPoints)
            <h5>Description:</h5>
            @Html.DisplayFor(modelItem => item.Description)
            <h5>Trajet Id:</h5>
            @Html.DisplayFor(modelItem => item.TrajetId)


        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrajetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrajetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrajetId })
        </td>*@
    </tr>
}

</table>
