@model IEnumerable<RiderQc.Web.ViewModels.Trajet.TrajetViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoogleCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleCo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrajetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrajetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrajetId })
        </td>
    </tr>
}

</table>
